
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/storage.ide-wal
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/storage.ide-shm
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/storage.ide
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/db.lock
WebApplication1/.vs/WebApplication1/v16/.suo
WebApplication1/.vs/WebApplication1/config/applicationhost.config
