
@{
    ViewBag.Title = "Thanhtoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">PHƯƠNG THỨC THANH TOÁN</font></h2>
<ol>
    <li><b>Thanh toán qua thẻ ATM</b></li>
    Để thanh toán bằng thẻ ATM đã đăng ký dịch vụ Internet Banking, quý khách vui lòng chọn hình thức:
    <br />
    Thanh toán bằng thẻ ATM (miễn phí thanh toán)
    <br />
    Tiến hành đặt hàng
    <br />
    Hệ thống BookStore.com sẽ chuyển quý khách qua giao diện thanh toán cổng OnePay, tại đây, quý khách chọn ngân hàng của mình và tiến hành thanh toán như hướng dẫn.
    <li><b>Thanh toán qua thẻ Visa/Master Card</b></li>
    Vinabook hỗ trợ khách hàng thanh toán đơn hàng bằng thẻ Visa hoặc Master Card thông qua cổng thanh toán trực tuyến OnePay đảm bảo thanh toán an toàn và tiện lợi cho khách hàng.
    <br />
    Các loại thẻ thanh toán được chấp nhận thanh toán tại Vinabook bằng tiền đồng Việt Nam:
    <br />
    Thẻ thanh toán có biểu tượng VISA
    <br />
    Thẻ thanh toán có biểu tượng MasterCard
    <li><b>Quý khách lưu ý:</b></li>
    Vinabook không chấp nhận thẻ ảo (Virtual card), thẻ sử dụng 1 lần (single use card), thẻ nặc danh (thẻ không in tên) và có quyền từ chối cung cấp dịch vụ nếu khách hàng sử dụng các loại thẻ này.
    <br />
    Trong một số trường hợp để đảm bảo tính an ninh, bộ phận chăm sóc khách hàng có thể yêu cầu quý khách xác thực chủ thẻ bằng cách yêu cầu chủ thẻ cung cấp thông tin hình ảnh thẻ thật được chụp hình mặt trước và mặt sau (có che đi các thông tin bảo mật) và giấy tờ tùy thân của chủ thẻ (hộ chiếu/CMND). Nếu không xác thực thẻ theo yêu cầu, quý khách sẽ bị từ chối đặt hàng.
    <br />
    Trong trường hợp quý khách đã thanh toán, ngân hàng đã thông báo trừ tiền vào thẻ hoặc ghi nợ vào thẻ, nhưng Vinabook vẫn thông báo giao dịch không thành công, vui lòng liên hệ với tổng đài Vinabook 19006401 hoặc email hotro@vinabook.com để được hỗ trợ.
    <br />
    Trong trường hợp cần hoàn tiền vào tài khoản quý khách (do đơn hàng lỗi, thanh toán không được, hủy đơn hàng…), quý khách sẽ được hoàn lại số tiền của các dịch vụ chưa được sử dụng vào chính tài khoản thẻ dùng để thanh toán. Thời gian hệ thống ngân hàng ghi có vào tài khoản quý khách từ 15-45 ngày làm việc tùy vào ngân hàng phát hành thẻ, kể từ khi Vinabook nhận được yêu cầu
</ol>